<div class="task-form">
  <%= form_for(@task) do |f| %>
  <div class="task-title task-field">
    <%= f.label :name, 'Task Title' %>
    <%= f.text_field :name, required: true %>
    <br>
  </div>
  <div class="task-notes task-field">
    <%= f.label :notes %>
    <%= f.text_field :notes %>
    <br>
  </div>
  <div class="task-field">
    <%= f.submit :Submit, class: 'btn form-btn' %>
  </div>

  <% end %>
</div>
