<div class='wrapper'>
  <div class='container'>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= link_to "Add a Task", 'tasks/new', class: 'btn' %>
        <div class="content">
          <h1>Still To Do</h1>

          <ul>
          <% @uncomplete.each do |task| %>
            <li class='task'><%= task.name %> <%= link_to "View", task_path(task) %> <%= link_to "Edit", edit_task_path(task) %> <%= link_to "Delete", task_path(task), class: 'delete',
                method: :delete,
                data: { confirm: "Are you sure?" } %>
                  <p class='notes'><%= task.notes %></p>
                </li>

          <% end %>
          </ul>
        </div>
      </div>
    </div>
        <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="content">
          <h1>Done</h1>
          <ul>
          <% @completed.each do |task| %>
            <li class='task task-complete'><%= task.name %> <%= link_to "View", task_path(task) %> <%= link_to "Edit", edit_task_path(task) %> <%= link_to "Delete", task_path(task), class: 'delete',
                method: :delete,
                data: { confirm: "Are you sure?" } %>
                  <p class='notes'><%= task.notes %></p>
                </li>

          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


