<div class='wrapper'>
  <div class='container'>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">

        <div class="content">
          <h1 class="text-center">Still To Do</h1>
        <%= form_tag("/tasks/complete", method: :post) do%>
          <ul>
          <% @uncomplete.each do |task| %>
            <li class='task'>
              <div class="row">
                <div class="col-xs-12 col-sm-8">
                  <%= task.name %> (<%= link_to "View", task_path(task) %>/ <%= link_to "Edit", edit_task_path(task) %> )
                  <p class='notes'><%= task.notes %></p>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <%= check_box_tag "tasks_checkbox[]",task.id, required: true %><%= submit_tag("Complete", class: 'mark-done-btn')%>
                </div>
              </div>

            </li>

          <% end %>
          </ul>

          <% end %>
          <div class="new-task-btn text-center">
          <br>
            <%= link_to "Add a Task", 'tasks/new', class: 'btn new-task' %>
          </div>

        </div>
      </div>
    </div>
        <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="content">
          <h1 class="text-center">Done</h1>
          <ul>
          <% @completed.each do |task| %>
            <li class='task task-complete'><%= task.name %> <%= link_to "View", task_path(task) %> <%= link_to "Edit", edit_task_path(task) %> <%= link_to "Delete", task_path(task), class: 'delete',
                method: :delete,
                data: { confirm: "Are you sure?" } %>
                  <p class='notes'><%= task.notes %></p>
                </li>

          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


