<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <%= link_to "< Back to Tasks", '/tasks', class: 'btn' %>
                    <div class="content">
                        <h2><%= @task.name %></h2>
                        <p><%= @task.notes %></p>
                        <p>status: <%= @status %></p>
                        <%#= button_to "Mark as done", task_path(@task), data: {:confirm => 'Are you sure?'},
            :class => "btn", :method => :patch %>
                        <%=link_to "Edit", edit_task_path(@task), class: 'btn edit-btn' %>
                        <%= link_to "Delete", task_path(@task), class: 'btn delete-btn',
                method: :delete,
                data: { confirm: "Are you sure?" } %>
                    </div>
            </div>
        </div>
    </div>
</div>
